.wave {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    /* transform:rotate(0deg); 
    transition: 0.3s */
  }
  
@media(max-width:400px){
 .wave{
  left: -64px;
  width: 204%;
 }
}